* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: pink;
}
a {
  color: red;
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
}


.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 9999;
}


.navbar h1 {
  float: left;
  font-size: 24px;
  padding: 10px 0;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  display: inline;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(135deg, #007bff, #00d4ff);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left, .right{
	height: 100%;
	width: 50%;
}

.right{
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	height: 400px;
	width: 350px;
	border: 3px solid gray;
	filter: drop-shadow(0 0 10px gray);
	border-radius: 20px;
	background-image: url("Mehedi.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: white;
  color: #007bff;
  border-radius: 4px;
}


.section {
  padding: 150px 0px 100px 0px;
  background-color: #fff;
}
.section:nth-of-type(even) {
  background-color: #e9ecef;
}
h2 {
  margin-bottom: 20px;
  font-size: 28px;
}


.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.project-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1 1 45%;
  border-radius: 6px;
}


.skills-list {
	list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.skills-list li {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}


.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: white;
}
